.max-width1 {
    max-width: 90vw;
}

.max-width2 {
    max-width: 80vw;
}

.m-auto {
    margin: auto;
}

.btn {
    font-size: 13px;
    padding: 4px 4px;
    margin: 3px;
    border-radius: 6px;
    cursor: pointer;
}

.search {
    margin: 0px 3px;
    font-size: 16px;
    border-radius: 19px;
    padding: 3px 5px;
}
.line{
    border: 1px solid rgb(116, 107, 107);
    height: 0vh;
    width: 70vw;
    margin: auto;
    margin-top: 1vw;
    margin-left: 12vw;
}